<?xml version="1.0"?>
<config>
    <global>
        <modules>
            <CosmoCommerce_ThemeFas01>
                <version>0.1.1</version>
            </CosmoCommerce_ThemeFas01>
        </modules>
		<helpers>
			<themefas01>
				<class>CosmoCommerce_ThemeFas01_Helper</class>
			</themefas01>
		</helpers>
    </global>
    <frontend>
        <translate>
            <modules>
                <CosmoCommerce_ThemeFas01>
                    <files>
                        <default>CosmoCommerce_ThemeFas01.csv</default>
                    </files>
                </CosmoCommerce_ThemeFas01>
            </modules>
        </translate>
        <layout>
            <updates>
                <themefas01>
                    <file>themefas01.xml</file>
                </themefas01>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<CosmoCommerce_ThemeFas01>
							<title>FAS01 Template</title>
							<sort_order>10</sort_order>
						</CosmoCommerce_ThemeFas01>
					</children>
				</admin>
			</resources>
		</acl>
        <menu>
             <sales>
                <children>
                    <recurring_profile>
                        <disabled>1</disabled>
                    </recurring_profile>
                    <billing_agreement>
                        <disabled>1</disabled>
                    </billing_agreement>
                    <tax>
                        <disabled>1</disabled>
                    </tax>
                    <checkoutagreement>
                        <disabled>1</disabled>
                    </checkoutagreement>
                </children>
             </sales>
             <catalog>
                <children>
                    <tag>
                        <disabled>1</disabled>
                    </tag>
                </children>
             </catalog>
             <xmlconnect>
                <disabled>1</disabled>
             </xmlconnect>
             <cms>
                <children>
                    <poll>
                        <disabled>1</disabled>
                    </poll>
                    <widget_instance>
                        <disabled>1</disabled>
                    </widget_instance>
                </children>
             </cms>
             <report>
                <children>
                    <tags>
                        <disabled>1</disabled>
                    </tags>
                </children>
             </report>
        </menu>
        <translate>
            <modules>
                <Queldorei_Shopperslideshow>
                    <files>
                        <default>CosmoCommerce_ThemeFas01.csv</default>
                    </files>
                </Queldorei_Shopperslideshow>
                <Queldorei_Priceslider>
                    <files>
                        <default>CosmoCommerce_ThemeFas01.csv</default>
                    </files>
                </Queldorei_Priceslider>
                <Queldorei_Shoppercategories>
                    <files>
                        <default>CosmoCommerce_ThemeFas01.csv</default>
                    </files>
                </Queldorei_Shoppercategories>
                <Queldorei_ShopperSettings>
                    <files>
                        <default>CosmoCommerce_ThemeFas01.csv</default>
                    </files>
                </Queldorei_ShopperSettings>
                <queldorei>
                    <files>
                        <default>CosmoCommerce_ThemeFas01.csv</default>
                    </files>
                </queldorei>
                <CosmoCommerce_ThemeFas01>
                    <files>
                        <default>CosmoCommerce_ThemeFas01.csv</default>
                    </files>
                </CosmoCommerce_ThemeFas01>
            </modules>
        </translate>
    </adminhtml> 
</config>
